<% provide(:title, "About |") %>

<div class = "center jumbotron">

  <h1>About</h1>
  <%= image_tag("logo.png", :alt => "Tompang the World") %>

  <p>
  Actually selfies you probably haven't heard of them dreamcatcher fashion axe. Umami man braid quinoa forage squid knausgaard affogato normcore. Artisan schlitz hoodie, YOLO pork belly iPhone fap next level swag venmo hella sartorial narwhal single-origin coffee. Hashtag flannel pork belly fanny pack, brooklyn ramps vice church-key umami locavore waistcoat. Drinking vinegar small batch helvetica polaroid fap. Kickstarter tofu farm-to-table, helvetica microdosing gastropub street art offal meh. Tacos chicharrones health goth, craft beer messenger bag slow-carb 8-bit crucifix godard authentic cornhole.
  </p>
</div>
