<% provide(:title, "Home") %>

<div>
  <h1>Buy the World</h1>
  <p>Find me in app/views/static_pages/home.html.erb</p>
  <%= video_tag("home.mp4", id:"cover", autoplay: true, loop: true, muted: true) %>
</div>
