<% provide(:title, "Home |") %>

<div class="block">
  <h1>Tompang<br> the World</h1>

  <div class="form-group col-sm-12">
    <label for="country"><h3>Tompang from these Countries:</h3></label>
    <select class="form-control" id="country" onchange="window.location.href = '/product/' + this.value;">
      <% @products.each do |product| %>
      <option><%= link_to "#{product.country}", "/product/#{product.country}"  %></option>
      <% end %>
    </select>
  </div>

  <%= video_tag("home.mp4", autoplay: true, loop: true, muted: true, controls: false) %>

</div>
