// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$border-radius-base: 8px;

.card {
  border: 0.5px solid lightgrey;
  border-radius: $border-radius-base;
  overflow: hidden;
  margin-bottom: 30px;
  height: 397.78px;

  .card-img {
    height: 200px;
  }

  .card-block {
    padding: 15px 7px;

    h4 {
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      max-width: 400px;
      margin: 0 auto;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    #country {
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      max-width: 400px;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p {
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      max-width: 400px;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
