// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$border-radius-base: 8px;

.card {
  border: 0.5px solid lightgrey;
  border-radius: $border-radius-base;
  overflow: hidden;
  margin-bottom: 30px;

  .card-img {
    height: 200px;
  }

  .card-block {
    padding: 15px 7px;
  }
}

#card {
  border: 0.5px solid lightgrey;
  margin: 5px;
  padding: 7px;
}
